@media screen and (max-width: 480px) {
  #color-bisque, #color-black{
    font-size: 14px;
  }
  .Media-file img{
    width: 80%;
    height: 80%;
  }
}

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.input-url {
  width:90%;
  margin: auto ;
  min-width: 300px;
  max-width: 700px;
}
.input-url :focus {
  border: 2px solid gray;
}
#color-bisque{
  color: bisque;
  background-color: black;
  padding: 6px 6px 8px 6px;
  border-radius: 0px 14px 14px 0px;
  margin-left: -5px;
}
#color-black{
  color: black;
  background-color: bisque;
  padding: 6px 16px 8px 16px;
  border-radius: 14px 0px 0px 14px;
  margin-right: -5px;
}
.header h4{
  padding: 4px 10px;
}
input{
  padding: 10px 16px !important;
  border-color: bisque;
  border-style: solid;
  background-color: bisque;
  border-radius: 20px;
  font-size: 1em;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.App button{
  font-size: 14px;
  padding: 10px;
  font-family: inherit;
  min-width: 200px;
  margin: 14px 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: rgb(39, 38, 38);
  color: bisque;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.App button :active{
  font-size: 100px;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Media-file{
  display: block;
  margin: auto;
}
.Media-file img{
  width: 50%;
  height: 50%;
}
select {
  font-size: 12px;
  font-family: inherit;
  background-color: bisque;
  padding: 6px 6px;
  min-width: 200px;
  margin: 10px 10px;
}
.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: bisque;
}

.download-btn {
  font-size: 14px;
  padding: 10px 48px;
  font-family: inherit;
  min-width: 200px;
  margin: 14px 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: rgb(39, 38, 38);
  color: bisque;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.Video-List {
  margin-bottom: 50px;
}