@media screen and (max-width: 480px) {

  #color-bisque, #color-black{
    font-size: 14px;
  }

}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-url {
  width:50%;
  margin: auto ;
  min-width: 300px;
}

#color-bisque{
  color: bisque;
  background-color: black;
  padding: 6px 6px 8px 6px;
  border-radius: 0px 14px 14px 0px;
  margin-left: -5px;
}

#color-black{
  color: black;
  background-color: bisque;
  padding: 6px 16px 8px 16px;
  border-radius: 14px 0px 0px 14px;
  margin-right: -5px;
}

.header h4{
  padding: 4px 10px;
}

input{
  padding: 10px 16px;
  border-color: bisque;
  border-style: solid;
  background-color: bisque;
  border-radius: 20px;
  font-size: 1em;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

.App button{
  font-size: 14px;
  padding: 10px;
  font-weight: 500;
  border-radius: 8px;
  border-style: none;
  color: bisque;
  background-color: black;
  font-family: inherit;
  min-width: 200px;
  margin: 14px 8px;
}

.get-media {
  margin: auto;
  margin-top: 20px;
}

#get-media-btn{
  border: solid 4px bisque;
}

.Media-file img{
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}

select {
  font-size: 12px;
  font-family: inherit;
  background-color: bisque;
  padding: 6px 6px;
  min-width: 200px;
  margin: 10px 10px;
}
/*

input :focus {
  border-color: black;
}





.Media-file button {
  width: 40%;
  min-width: 300px;
}



*/